<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Archived orders - Office Helper</title>
    <meta charset="utf-8"/>
    <link th:href="@{/static/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/static/css/office_helper_template.css}" href="../../static/css/office_helper_template.css"
          rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Office Helper</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/request/new}">New orders</a></li>
                <li><a href="#" th:href="@{/request/ordered}">In progress</a></li>
                <li><a href="#" th:href="@{/request/received}">Received</a></li>
                <li class="active"><a href="#" th:href="@{/request/archived}">Archives</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Archives</h1>
        <p>Here are listed the old orders, received or refused :</p>
        <table class="table table-hover" id="request_tab">
            <thead>
            <tr>
                <th>Date of creation</th>
                <th>Date of order</th>
                <th>Date of delivery</th>
                <th>Deadline</th>
                <th>Product</th>
                <th class="col-md-1">Quantity</th>
                <th>Author</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requestList}" th:attr="data-id=${request.id}" class="request hover_container">
                <td th:text="${request.getDateCreatedToString()}"></td>

                <td th:text="${request.getDateOrderedToString()}"></td>

                <td th:text="${request.getDateReceivedToString()}"></td>

                <td th:text="${request.getDateDeadlineToString()}"></td>

                <td th:switch="${request.url}">
                    <span th:case="''" th:text="${request.title}"></span>
                    <a th:case="*" th:href="${request.url}" th:text="${request.title}" target="_blank"></a>
                    <span th:switch="${request.comments}">
                        <i th:case="''"></i>
                        <i th:case="*" class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" data-placement="right" th:title="${request.getComments()}" id='example'></i>
                    </span>
                </td>

                <td th:text="${request.quantity}"></td>

                <td><span th:text="${request.author.firstName}"></span> <span
                        th:text="${request.author.lastName}"></span></td>

                <td>
                    <span class="hidden_element"><a href="#" class="text-danger delete_request"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- Scripts Inclusions -->
<script th:src="@{/static/js/jquery.js}" src="../../static/js/jquery.js"></script>
<script th:src="@{/static/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
<script th:src="@{/static/js/moment.js}" src="../../static/js/moment.js"></script>
<script th:src="@{/static/js/bootstrap-datetimepicker.min.js}" src="../../static/js/bootstrap-datetimepicker.min.js"></script>
<script th:src="@{/static/js/request_list_controller.js}" src="../../static/js/request_list_controller.js"></script>
</body>
</html>