body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
}

#more_information_form {
    /*display:none;*/
}

.hidden_element {
    visibility: hidden;
}

.hover_container:hover .hidden_element {
    visibility: visible;
}