body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
}

#more_information_form {
    /*display:none;*/
}

.hidden_element {
    visibility: hidden;
}

.hover_container:hover .hidden_element {
    visibility: visible;
}

.navbar-inverse {
    background-color:#1563a3;
}

.navbar-inverse .navbar-brand {
    color:#ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color:#ffffff;
}

.navbar-inverse .navbar-nav > li:hover {
    background-color:#4495d8;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color:#1563a3;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    background-color:#4495d8;
}